/* This file will be about selectors */
/* Types of selectors that will be talked about are element selectors,
    class selectors, and ID selectors */

/* Element selectors select all the elements of the type being specified */
html
{
    font-size: 22px;
}

main
{
    font-family: monospace;
}
body
{
    
}
h1,h2
{
    color: blue;
}


.highlight
{
    text-transform: uppercase;
    background-color: gold;
}

p
{
    color: purple;
}

/* Below are examples of class selectors */
/* This changes 2/3 articles in the HTML file because there are 2 articles with class="gray"
    and the gray class changes the text to gray, inheritance basically */
.gray 
{
    color: gray;
}

/* Below are examples of ID selectors */
/* Should only have 1 ID selector but not recommended to be used, rarely should be used*/
#second
{
    font-style: italic;
}

/* Last selector, rarely rarely used, is Universal Selector(obvious reasons)*/


